* {
    box-sizing: border-box;
  }
  
body {
    background-color: #400080;
    background-image: 
                      url('https://media.contentapi.ea.com/content/dam/need-for-speed/nfs-heat/common/nfsh-section-bg-homepage-news-xl.png.adapt.1456w.png');
    background-repeat: repeat-y;
    background-size:   100% auto;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }

body::-webkit-scrollbar {
    width: 0; 
}

@font-face {
  font-family: 'Manga';
  src: url('font/MangaTemple.woff2') format('woff2'),
      url('Font/MangaTemple.woff') format('woff'),
      url('Font/MangaTemple.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.top-strip {
  z-index: 1000;
  top: 0;
  position: sticky;
    background-color: black;
    color: white;
    height: 50px; /* Adjust the height as needed */
    display: flex;
    align-items: center;  
    justify-content: space-between;
    padding: 0 20px;
    width: 100%;
}   

  h3{
    color: white;
    font-family: 'Manga';
    font-size: 15px;
    top: 0%;
  }
  
  
  p{
    color: black;
    font-family: 'LightFont';
    top: 10%;
    width: 40%; 
    left: 50%;
  }

  .container {
    justify-content: center;
    align-items: center;
    width: 100vw;
    overflow: hidden;
  }

  .panel img{
    z-index: -1;
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: transform 0.5s ease, top 0.5 ease, left 0.5 ease;
    position: absolute;
    border-radius: 4px;
  }
  
  .panel h5{
    font-size: 24px;
    font-family: 'MostWanted';
    position: absolute;
    bottom: 20px;
    left: 20px;
    margin: 0;
    opacity: 0;
    text-shadow: 1px 5px 5px black;
}


.panel.active img {
  width: 50%;
  margin-right: 50%;
}

.panel p{
  position: relative;
  flex: 1;
  margin: 10px;
  display: none; /* Awalnya tersembunyi */
  opacity: 0;
  animation: none;
}

.hover-text {
  position: absolute;
  top: 80px;
  left: 50%;
  transform: translateY(-10px);
  opacity: 0;
  transition: opacity 0.3s ease, transform 0.3s ease;
  font-size: 10px;
  color: black
}

.panel.active button{
  display: block;
  animation: slideInLeft 0.5s ease-in-out forwards;
  animation-delay: 0.5s;
  position: absolute;
  right: 30%;
  bottom: 8%;
}

.panel.active p {
  text-shadow: 1px 5px 40px black;
  margin-bottom: 150px;
  display: block;
  animation: slideInLeft 0.5s ease-in-out forwards;
  animation-delay: 0.6s;
}

@keyframes slideInLeft {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }
  to{
    opacity: 1;
    transform: translateX(0);
  }
}

.panel.active h5 {
  max-width: 50%;
  opacity: 1;
  transition: opacity 0.3s ease-in 0.4s;
  text-shadow: 5px 1px 10px black;
}

  .panel.active{
    transform: scaleX(1);
    position: relative;
    width: 40%;
} 

   .panel {
    z-index: 4;
    max-width: 100%;
    margin-top: 300px; /* Adjust if needed */
    margin-left: 30%;
    margin-bottom: 100px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 50vw;
    font-family: 'NFS font';
    position: relative;
    background-color: white;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    color: aliceblue;
    display: flex;
    width: 250px;
    height: 300px;
    border-radius: 5px;
    box-shadow: 2px 10px 10px rgba(0, 0, 0, 0.5);
    transform: scale(0);
    transform-origin: center;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out ;
    -webkit-transition: all 0.8s ease-in-out;
    text-shadow: black 1px 5px 50px;
  }
  
  .panel:not(.active):nth-of-type(even){
    transform: scale(0);
}


  .panel.show:not(.active) {
    transform: scale(1);
}


  .panel:not(.active):hover { 
    transform: scale(1.08);
    box-shadow: 0 0 20px rgba(255, 255, 255, 0), 0 0 30px rgba(0, 0, 0, 0.7);
    outline: 1px solid white;
  }